.jumbotron#how
  .row
    %center.jt
      %h1 КАК ВСЁ УСТРОЕНО?

  %br/
  .row
    .col-xs-12.col-lg-10.col-lg-offset-1
      %section.col-xs-12.col-sm-4#how-choose
        .row
          .col-xs-8.col-xs-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
            %img.ig{src: image_path('ig-choose.svg')}
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-12.jt.lead.text-center
            Вы выбираете размер набора, который Вам больше подходит:
            %ul.dotted.text-left
              %li
                для приготовления пяти ужинов на двоих.
              %li
                для приготовления трёх ужинов на двоих.
            %p
              Заказываете набор на сайте или <span class="text-nowrap">с 9:00 до 21:00</span> по телефону.
            %p
              Продукты, заказанные до 23:59 четверга, привезут в ближайшее воскресенье.
              Например, при заказе сегодня это #{next_sunday}.

      %section.col-xs-12.col-sm-4#how-receive
        .row
          .col-xs-8.col-xs-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
            %img.ig{src: image_path('ig-receive.svg')}
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-12.jt.lead.text-center
            %p
              Наш оператор звонит Вам и подтверждает заказ.
            %p
              = prop :area_served, type: :place do
                = prop address: 'Москва'
                = prop :description, "В воскресенье мы доставляем Ваш заказ в удобное для Вас время в пределах МКАД."
            %p
              Доставка включена в стоимость набора.
            %p
              Вы убираете набор в холодильник.

      %section.col-xs-12.col-sm-4#how-cook
        .row
          .col-xs-8.col-xs-offset-2.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
            %img.ig{src: image_path('ig-cook.svg')}
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-12.jt.lead.text-center
            %p
              В наборе Вы найдёте:
              %ul.dotted.text-left
                %li
                  Свежие продукты, подготовленные и упакованные
                  для каждого ужина отдельно
                %li
                  Подробные рецепты, разработанные профессионалами,
                  благодаря которым Вы сможете быстро приготовить ужин как в
                  ресторане всего за 20-40 минут.

  %br/
  .row
    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
      %center.jt
        %br/
        - if @recipes.count == 5
          %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
        - else
          %a.btn.btn-primary.btn-lg.btn-disabled.jb{href: "#", disabled: true} ОФОРМИТЬ ЗАКАЗ
          %br/
          %small Нельзя оформить заказ: меню составляется. Попробуйте через пару минут.
          %br/
        %br/

  %br/
  .row
    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2.jt.text-center
      Если у Вас возникли вопросы, мы всегда с радостью ответим на них.
