.jumbotron#order
  .row.lead
    %center.col-xs-12.jt
      %span Закажите сейчас, и в воскресенье,&nbsp;
      %span#d_date>= next_sunday + ","
      %span &nbsp;к Вам приедет коробка с продуктами и рецептами блюд на следующую неделю.
  .row.lead
    %center.col-xs-12.jt
      - if @recipes.count == 5
        %a.btn.btn-primary.btn-lg.jb{href: "#", data: { toggle: 'modal', target: '#order_modal' } } ОФОРМИТЬ ЗАКАЗ 
      - else
        %a.btn.btn-primary.btn-lg.btn-disabled.jb{href: "#", disabled: true} ОФОРМИТЬ ЗАКАЗ
        %br/
        %small Нельзя ОФОРМИТЬ ЗАКАЗ: меню составляется
        %br/
