.modal.fade#order_modal
  .modal-dialog
    .modal-content
      .modal-body
        %button.close(data-dismiss='modal') &times;
        .row
          %center.col-xs-12
            %h2 Оформление заказа
        .row
          .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
            = render partial: 'orders/form'

