.jumbotron#pros
  .row.lead
    .col-xs-12.col-sm-4.jt.text-center
      %h3 Оригинальные рецепты
      %p
        Наши рецепты составлены таким образом, что среднее время приготовления ужина
        на двоих занимает 30 минут и не требует большого количества посуды
        и бытовой техники. Все рецепты довольно просты, и даже начинающий кулинар
        может быть уверен, что получится очень вкусно.
    .col-xs-12.col-sm-4.jt.text-center
      %h3 Качественные ингредиенты
      %p
        Для производства наборов мы используем только самые свежие и качественные продукты.
        Все ингредиенты очищены и отмерены в нужном количестве. Больше не придется ходить
        по магазинам, искать необходимые продукты и каждый день думать, что приготовить.
        Все, что потребуется для ужина, уже будет в холодильнике,
        когда Вы вернетесь с работы.
    .col-xs-12.col-sm-4.jt.text-center
      %h3 Выгодно и удобно
      %p
        Покупая продукты в обычном магазине, Вы потратите те же деньги, но при
        этом потеряете собственное время и силы на поиск нужных ингредиентов.
        Мы сэкономим Ваши время и силы.
