.jumbotron#social
  .row.lead.text-center
    %h2 Мы в соцсетях
  .row.lead
    = prop :provider, type: :organization do
      = prop name: 'HomeMade'
      .col-xs-12.text-center
        %a.btn.btn-primary(href="https://vk.com/homemade_msk" itemprop='sameAs' itemtype='http://schema.org/URL' target='_blank')
          %i.fa.fa-lg.fa-fw.fa-vk
        %a.btn.btn-primary(href="https://instagram.com/homemade_msk" itemprop='sameAs' itemtype='http://schema.org/URL' target='_blank')
          %i.fa.fa-lg.fa-fw.fa-instagram
        %a.btn.btn-primary(href="https://www.facebook.com/homemade.msk/" itemprop='sameAs' itemtype='http://schema.org/URL' target='_blank')
          %i.fa.fa-lg.fa-fw.fa-facebook
