.contaner
  .row
    %article.col-xs-12.col-sm-8.col-sm-offset-2
      %h1 Публичная оферта
      %section
        %h2 Оферта содержит следующие понятия:
        %p
          %strong Оферта
          ―  предложение владельца Сайта, адресованное любому представителю юридического лица или физическому лицу, заключить с ним Договор на нижеуказанных условиях.
        %p
          %strong Договор 
          ―  соглашение между Исполнителем и Заказчиком о выполнении условий настоящей Оферты.
        %p
          %strong Сайт 
          ―  интернет-сайт, размещенный по адресу www.homemade-msk.ru [HYPERLINK: http://www.homemade-msk.ru] 
        %p
          %strong Исполнитель 
          ―  Общество с ограниченной ответственностью <<Хоуммейд>>
        %p
          %strong Заказчик 
          ―  представитель юридического лица или дееспособное физическое лицо, заключившее с Исполнителем Договор на условиях, содержащихся в настоящей Оферте, и/или совершившее заказ продукции Исполнителя
        %p
          %strong Продукция: 
          %ul
            %li Набор из пяти  ужинов на двух человек
            %li Набор из трех ужинов на двух человек
        %p
          %strong Заказ
          ― должным образом оформленный запрос Заказчика на изготовление и доставку по указанному адресу перечня Продукции, выбранной на Сайте.
        %p
          %strong Оператор 
          ―  представитель Исполнителя, осуществляющий коммуникацию с клиентом посредством телефонной связи.
        %p
          %strong Курьер 
          ―  представитель Исполнителя, осуществляющий доставку Продукции Заказчику.

        %section
          %h2 1. Общие положения
          %p
            1.1. Данный документ является публичной офертой. В случае принятия изложенных ниже условий лицо, принимающее условия Оферты и соблюдающее установленные требования оформления и согласования заказа с использованием информации и материалов Сайта, заключает Договор с Исполнителем. Условия заключаемого Договора определяются также дополнительной информацией, размещенной на Сайте (стоимость продукции, ее характеристика и т.д.), если эта информация не противоречит Оферте.
          %p
            1.2. Факт оформления заказа продукции через Сайт или посредством телефонной связи является безоговорочным принятием условий Оферты, и Заказчик рассматривается как лицо, вступившее с Исполнителем в договорные отношения.
          %p
            1.3. Заказчик, оформляя заказ, поручает Исполнителю осуществить изготовление и доставку Продукции, информация о которой размещена на Сайте.
          %p
            1.4. Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Продукции. В случае возникновения у Заказчика вопросов, касающихся свойств и характеристик Продукции, перед оформлением Заказа Заказчик должен обратиться к Исполнителю.

        %section
          %h2 2. Оформление заказа
          %p
            2.1. Заказ может быть оформлен следующими способами: принят по телефону или оформлен Заказчиком самостоятельно на Сайте. 
          %p
            2.2. Оформление Заказа на сайте осуществляется в порядке, указанном в разделе сайта  <<Оформление заказа>>.
          %p
            2.3. Заказчик после правильного оформления Заказа получает уведомление о том, что Заказ принят.
          %p
            2.4. После размещения Заказа в течение суток Оператор связывается с Заказчиком и уточняет правильность информации, указанной в Заказе, подтверждает сумму Заказа и сообщает прогнозируемое время доставки Заказа. Заказчик вправе согласиться принять Заказ в указанный срок, либо аннулировать Заказ. В случае, если Оператор не связался с Заказчиком, Заказчик должен самостоятельно связаться с ним по номеру телефона, указанному в разделе <<Контакты>> сайта, либо продублировать заказ.

        %section
          %h2 3. Доставка и оплата
          %p
            3.1. Клиент может получить Заказ посредством доставки в пределах МКАД, цена доставки включена в стоимость продукции. 
          %p
            3.2. При доставке Заказ вручается Заказчику, либо лицу, указанному в качестве получателя Заказа. При невозможности получения Заказа, оформленного за наличный расчет указанными выше лицами, Заказ вручается лицу, готовому предоставить сведения о Заказе (состав заказа), а также оплатить Заказ в полном объеме.
          %p
            3.3. Оплата Заказа осуществляется наличными Курьеру при получении Заказа или безналичным расчетом путем внесения предоплаты с помощью банковских карт.
          %p
            3.4. Исполнитель приложит все усилия для соблюдения сроков доставки, озвученных Заказчику. Тем не менее, задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Исполнителя.
          %p
            3.5. С момента передачи Заказа Заказчику (а равно другому лицу, упомянутому в п.3.2 Оферты) обязательства изготовителя по Договору считаются исполненными.

        %section
          %h2 4. Возврат Продукции и денежных средств
          %p
            4.1. Заказчик вправе отказаться от Заказа в любое время до его передачи. При этом Заказчик обязуется компенсировать Исполнителю все расходы, связанные с изготовлением и доставкой Продукции которые Исполнитель понесет к моменту отказа Заказчика от Заказа.
          %p
            4.2. Отказ Заказчика от Продукции при ее передаче подлежит удовлетворению, если она не соответствует Заказу или имеет существенные недостатки, приводящие к невозможности или недопустимости ее использования.
          %p
            4.3. Заказчик, при обнаружении ненадлежащего качества переданной ему Продукции, вправе потребовать ее замены Продукцией надлежащего качества или соразмерного уменьшения покупной цены. Вместо предъявления этих требований Заказчик вправе отказаться от исполнения Договора и потребовать возврата уплаченной суммы.

        %section
          %h2 5. Права и обязанности сторон
          %p
            5.1. Обязанности Исполнителя
          %p
            5.1.1. Под обязанностями Исполнителя понимаются как обязанности самого Исполнителя, так и обязанности его сотрудников и представителей.
          %p
            5.1.2. При получении Заказа, Оператор обязуется связаться по указанному Заказчиком телефонному номеру для подтверждения Заказа.
          %p
            5.1.3. В случае получения информации о невозможности исполнения Заказа, в связи с отсутствием какого-либо вида заказанной Продукции, Оператор обязуется незамедлительно связаться с Заказчиком для уточнения и/или корректировки заказа.
          %p
            5.1.4. Оператор обязуется согласовать с Заказчиком время доставки Продукции.
          %p
            5.1.5. Курьер обязуется осуществить доставку Продукции Заказчику в соответствии с заказом и оговоренным временем доставки.
          %p
            5.1.6. При передаче Заказчику заказанной Продукции Курьер также передает кассовый и/или товарный чек на доставленную Продукцию. 
          %p
            5.1.7. Исполнитель обязуется не разглашать полученную во время Заказа информацию. Не считается нарушением предоставление Исполнителем информации агентам и третьим лицам, действующим на основании Договора с Исполнителем, для исполнения обязательств перед Заказчиком. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.

          %p
            5.2. Права Исполнителя
          %p
            5.2.1. Исполнитель вправе изменять любую информацию, материалы, сервисы Сайта, а также текст и условия Оферты в одностороннем порядке без предварительного и последующего уведомления посетителей Сайта. Изменения условий Оферты производятся в порядке опубликования ее новой редакции, которая вступает в силу и является обязательной для всех посетителей Сайта с момента размещения на Сайте.
          %p
            5.2.2. В случае немотивированного отказа Заказчика от доставленной ему заказанной Продукции, Заказчик обязуется оплатить Исполнителю стоимость Продукции и сумму вознаграждения за осуществленную доставку Заказа. Исполнитель вправе впредь не принимать заказы на доставку Продукции по телефонному номеру данного Заказчика и не осуществлять доставку Продукции по адресу данного Заказчика.
          %p
            5.2.3. Исполнитель вправе не выполнять Заказ, если ранее Заказчик отказывался от оплаты заказов без уважительных причин, а также в случае невозможности подтверждения телефона либо адреса Заказчика или указания Заказчиком неверных/несуществующих телефона либо адреса.

          %p
            5.3. Обязанности Заказчика
          %p
            5.3.1. При заполнении формы заказа на Сайте, Заказчик обязуется предоставить достоверную информацию.
          %p
            5.3.2. Заказчик обязуется принять от Курьера заказанную Продукцию, а также оплатить ее одним из способов, указанных в п.3.3. Оферты.
          %p
            5.3.3. При получении Продукции Заказчик должен проверить ее соответствие Заказу. 

          %p
            5.4. Права Заказчика
          %p
            5.4.1. Заказчик вправе сделать Заказ на доставку Продукции, информация о которой размещена на Сайте.
          %p
            5.4.2. Заказчик вправе отказаться от заказа, если доставленная Продукция не соответствует заказу или обладает недостатками, упомянутыми в п.4.2. Оферты.

        %section
          %h2 6. Конфиденциальность и защита персональной информации
          %p
            6.1. При размещении Заказа на Сайте Заказчик предоставляет следующие персональные данные, конфиденциальность которых обязуется обеспечивать Исполнитель: фамилия, имя, отчество, телефонный номер, адрес доставки. 
          %p
            6.2. Предоставляя свои персональные данные при оформлении заказа, Заказчик соглашается на их обработку Исполнителем.

        %section
          %h2 7. Ответственность сторон
          %p
            7.1. За невыполнение или ненадлежащее выполнение обязательств по настоящему договору стороны несут ответственность в соответствии с действующим законодательством РФ.
          %p
            7.2. Все споры и разногласия, возникающие при исполнении сторонами обязательств по настоящему Договору, решаются путем переговоров. В случае невозможности их устранения, стороны имеют право обратиться за судебной защитой своих интересов.
          %p
            7.3. Исполнитель не несет ответственности за ущерб, причиненный Заказчику вследствие ненадлежащего использования Продукции, заказанной на Сайте. 
          %p
            7.4. Исполнитель не несет ответственности за точность и правильность информации, предоставляемой Заказчиком при оформлении Заказа. 

        %section
          %h2 8. Заключительные положения
          %p
            8.1.  Договор между Заказчиком и Исполнителем вступает в силу с момента получения Исполнителем Заказа от Заказчика на доставку Продукции, который рассматривается как акцепт настоящей Оферты, и действует до полного исполнения сторонами обязательств, предусмотренных Офертой.

        %section
          %h2 Исполнитель: 

          %table.table
            %tr
              %td Сокращенное наименование организации
              %td ООО &laquo;ХОУММЕЙД&raquo;

            %tr
              %td Юридический адрес  
              %td 115193 г. Москва, ул. Петра Романова, д. 7, стр. 1, помещение 1, комната 14

            %tr
              %td ОГРН
              %td 1167746056763
            %tr
              %td ИНН
              %td 7723426379
            %tr
              %td КПП
              %td 772301001
            %tr
              %td Код ОКПО
              %td 27122932
            %tr
              %td Банковские реквизиты 
              %td 
                Счет №: 40702810400000029193
                %br/
                В ПАО &laquo;Ханты-Мансийский банк Открытие&raquo;
                %br/
                БИК 044583297
                к/c 30101810700000000297

- content_for(:meta_robots) { 'noindex,follow' }

