.row
  .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-1
    .row
      .col-xs-10
        %h1= @recipe.title
        %h2= @recipe.subtitle
      - if admin?
        .col-xs-2
          %br/
          %a.btn.btn-info.btn-block{href: edit_recipe_path(@recipe)}
            %i.fa.fa-fw.fa-edit
            Изменить
          %br/
          %a.btn.btn-danger.btn-block{href: recipe_path(@recipe), data: { method: :delete, confirm: 'Удалить рецепт?'}}
            %i.fa.fa-fw.fa-trash
            Удалить
