.container-fluid
  .row
    %ul.nav.col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
      %li.col-xs-6.col-sm-3.text-center
        %a(href="#") Публичная оферта
      %li.col-xs-6.col-sm-3.text-center
        %a(href=policy_path) Политика конфиденциальности
      %li.col-xs-6.col-sm-3.text-center
        %a(href=new_contact_path) Обратная связь
      %li.col-xs-6.col-sm-3.text-center
        %a(href=new_phone_callback_path) Заказать звонок
  %center
    &copy;&nbsp;ООО&nbsp;&laquo;ХОУММЕЙД&raquo;&nbsp;,&nbsp;2016

