.container-fluid
  = scope :local_business do
    .row
      %ul.nav.col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
        %li.col-xs-6.col-sm-3.text-center
          %a(href=offer_path rel="nofollow") Публичная оферта
        %li.col-xs-6.col-sm-3.text-center
          %a(href=policy_path rel="nofollow") Политика конфиденциальности
        %li.col-xs-6.col-sm-3.text-center
          %a(href=new_contact_path rel="nofollow") Обратная связь
        %li.col-xs-6.col-sm-3.text-center
          %a(href=new_phone_callback_path rel="nofollow") Заказать звонок
    %center
      %p
        = prop email: "contact@homemade-msk.ru"
      %p
        &copy;&nbsp;#{prop :name, "ООО"}&nbsp;&laquo;#{prop :name, "ХОУММЕЙД"} &raquo;&nbsp;,&nbsp;2016
      %p
        %img{src: image_path('pepper.svg')}
