.container-fluid
  .nav.nav-justified
    %li
      %a(href="#") Политика конфиденциальности
    %li
      %a(href="#") Публичная оферта
    %li
      %a(href='caffeinedrivendevel.su') Сайт: CDD
  %center
    &copy; 2016 HomeMade
