.container-fluid
  = scope :organization do
    .row
      %ul.nav.col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
        %li.col-xs-6.col-sm-3.col-lg-2.text-center.text-nowrap
          %a(href=about_path rel="index,follow") О Homemade
        %li.col-xs-6.col-sm-3.col-lg-2.text-center.text-nowrap
          %a(href=reviews_path rel="index,follow") Отзывы и обзоры
        %li.col-xs-6.col-sm-3.col-lg-2.text-center.text-nowrap
          %a(href=offer_path rel="nofollow") Публичная оферта
        %li.col-xs-6.col-sm-3.col-lg-2.text-center.text-nowrap
          %a(href=policy_path rel="nofollow") Конфиденциальность
        %li.col-xs-6.col-sm-3.col-sm-offset-3.col-lg-offset-0.col-lg-2.text-center.text-nowrap
          %a(href=new_contact_path rel="nofollow") Обратная связь
        %li.col-xs-6.col-sm-3.col-lg-2.text-center.text-nowrap
          %a(href=new_phone_callback_path rel="nofollow") Заказать звонок
    %center
      = prop email: "contact@homemade-msk.ru"
      = prop name: 'HomeMade'
      %p
        &copy;&nbsp;#{prop :name, "ООО «ХОУММЕЙД»"}&nbsp;,&nbsp;2016
      %p
        %img{src: image_path('pepper.svg')}
