.container
  .navbar-header
    %a.navbar-brand(href='/')
      = image_tag 'logo-inverse.svg', alt: 'HomeMade', title: 'HomeMade'
    .navbar-text
      %a.tel.pull-right(href='tel:+7 910 111 22 33')
        %i.fa.fa-fw.fa-phone
        +7 910 111 22 33
        &nbsp; &nbsp;
