.row
  %h1 Спасибо за Ваш заказ.
%br/
.row
  .lead
    Чтобы оплатить заказ, перейдите в платёжную систему:
    = render partial: 'yandex_kassa/form', locals: { submit: 'ПЕРЕЙТИ К ОПЛАТЕ', order: @order }
  %br/
  %br/
