%br
.row
  %center.col-xs-12
    .row
      .col-xs-2.col-xs-offset-5
        = image_tag 'logo.svg', class: 'img-responsive'
    .row
      %h1 Спасибо за Ваш заказ.
    %br/
    .row
      .lead
        В ближайшее время с Вами свяжутся для уточнения деталей доставки.
    %br/
    .row.lead
      .col-xs-12
        = render partial: 'weekly_menu_subscriptions/form'
        
    %br/
    %center.row
      = link_to 'НА ГЛАВНУЮ', root_path, class: 'btn btn-primary'

= javascript_include_tag 'weekly_menu_subscriptions.js'
