%p Подписаться на еженедельную рассылку меню:
= simple_form_for @subscription, remote: true, html: {class: 'form-inline material'} do |f|
  = f.input :email, label: false, placeholder: 'e-mail', input_html: { class: 'form-inline' }
  &nbsp;
  = f.submit 'ПОДПИСАТЬСЯ', class: 'btn btn-primary text-primary'
%p.small.alert.alert-success#weekly_menu_subscription_created{style: 'display: none;'}
  Подписка оформлена!
  %br/
  %small ОБРАТИТЕ ВНИМАНИЕ письмо может попасть в папку "спам".
%p.nsmall.alert.alert-danger#weekly_menu_subscription_error{style: 'display: none;'}
