.jumbotron#summary
  .bg
  .fixed
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.text-center.bg-glass.text-primary
          %br/
          %img.logo{src: image_url('logo.svg')}
          %br/
          %h1 О нас
  .content
    .row
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        %p.jt.lead
          Компания ООО «ХОУММЕЙД» занимается производством и доставкой продуктовых
          наборов для быстрого и легкого приготовления ужинов. С помощью наших наборов
          Вы сможете каждую неделю готовить без особого труда вкусные блюда
          ресторанного качества. Можно выбрать количество ужинов в наборе: три или пять,
          а также количество порций каждого блюда: на двоих, троих или четверых взрослых людей.
          Порции рассчитаны так, что голодными Вы точно не останетесь.
.jumbotron#pros
  .bg
  .content
    .row
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        %p.jt
          Мы берем все хлопоты по подготовке Вашего ужина на себя. Вам  больше не придётся:
          %ul.dotted.jt.lead
            %li Тратить время на походы в магазин.
            %li Каждый вечер ломать голову над тем, что приготовить на ужин.
            %li Заранее подбирать и  подготавливать ингредиенты для ужина.
            %li Долго стоять у плиты.
        %p.jt
          Вам нужно только выбрать количество блюд в наборе (три или пять), количество порций и заказать его.
.jumbotron#packaging
  .bg
  .content
    .row
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        %p.jt
          Продукты упакованы в вакуум, за счет чего они сохраняют свежесть в течение
          всей рабочей недели. Срок годности нашей продукции подтвержден лабораторными
          испытаниями. 
        %p.jt
          Продукция изготовлена в соответствии с СТО 27122932-001-2016
.jumbotron#delivery
  .bg
  .content
    .row
      .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        %p.jt
          Доставку мы производим в рефрижераторах с соблюдением необходимого
          температурного режима.

.jumbotron#links
  .bg
  .content
    .row
      .col-xs-12.text-center
        = link_to 'ОФОРМИТЬ ЗАКАЗ', new_order_path, class: 'btn btn-primary'
        = link_to 'ПОСМОТРЕТЬ МЕНЮ', "/#menu", class: 'btn btn-flat'

- content_for :title, "О нас | HomeMade"

= stylesheet_link_tag 'about.css'
= javascript_include_tag 'about.js'
