.overflow-container
  .jumbotron#packages-0
    .bg
    .row
      .col-xs-6.col-xs-offset-1
        %img{src: image_path('production-photos/packages-0.jpg')}
      .col-xs-5.col-lg-4
        %p.jt.vc
          Компания ООО «ХОУММЕЙД» занимается производством и доставкой продуктовых
          наборов для быстрого и легкого приготовления ужинов. С помощью наших наборов
          Вы сможете каждую неделю готовить без особого труда вкусные блюда
          ресторанного качества. Каждый ужин рассчитан на двух взрослых человек.
          Порции рассчитаны так, что голодными Вы точно не останетесь.
    .row
      .col-xs-10.col-xs-offset-1
        %a.btn.btn-flat.pull-right(href='#' name='next')
          %i.fa.fa-lg.fa-fw.fa-chevron-down.jt
  .jumbotron#packages-1
    .bg
    .row
      .col-xs-6.col-xs-offset-1
        %img{src: image_path('production-photos/packages-1.jpg')}
      .col-xs-5.col-lg-4
        %p.jt.vc
          Мы берем все хлопоты по подготовке Вашего ужина на себя. Вам  больше не придётся:
          %ul.dotted.jt.lead
            %li Тратить время на походы в магазин.
            %li Каждый вечер ломать голову над тем, что приготовить на ужин.
            %li Заранее подбирать и  подготавливать ингредиенты для ужина.
            %li Долго стоять у плиты.
        %p.jt
          Вам нужно только выбрать количество блюд в наборе (три или пять), количество порций и заказать его.
    .row
      .col-xs-10.col-xs-offset-1
        %a.btn.btn-flat.pull-right(href='#' name='next')
          %i.fa.fa-lg.fa-fw.fa-chevron-down.jt
  -#.jumbotron#packages-2
  -#.jumbotron#package-inside
  -#.jumbotron#box-inside
  -#.jumbotron#truck
    -#.row
      -#%h1 О нас
      -#%p
        -#Компания ООО «ХОУММЕЙД» занимается производством и доставкой продуктовых
        -#наборов для быстрого и легкого приготовления ужинов. С помощью наших наборов
        -#Вы сможете каждую неделю готовить без особого труда вкусные блюда
        -#ресторанного качества. Каждый ужин рассчитан на двух взрослых человек.
        -#Порции рассчитаны так, что голодными Вы точно не останетесь.
      -#%P
        -#В нашем наборе Вы найдете:
        -#%ul.dotted
          -#%li Продукты в нужном количестве для каждого из ужинов. 
          -#%li Подробные фото-рецепты с простым описанием процесса приготовления.
      -#%p
        -#Продукты упакованы в вакуум, за счет чего они сохраняют свежесть в течение
        -#всей рабочей недели. Срок годности нашей продукции подтвержден лабораторными
        -#испытаниями. Доставку мы производим в рефрижераторах с соблюдением необходимого
        -#температурного режима.
      -#%p
        -#Продукция изготовлена в соответствии с СТО 27122932-001-2016
      -#%p
        -#Безопасную оплату картой обеспечивает Яндекс.Касса.
      -#%img{src: image_path('production-photos/packages-2.jpg')}
      -#%img{src: image_path('production-photos/package-inside.jpg')}
      -#%img{src: image_path('production-photos/box-inside.jpg')}
      -#%img{src: image_path('production-photos/truck.jpg')}
  -#.row
    -#.col-xs-12.text-center
      -#= link_to 'ОФОРМИТЬ ЗАКАЗ', new_order_path, class: 'btn btn-primary'
      -#= link_to 'ПОСМОТРЕТЬ МЕНЮ', "/#menu", class: 'btn btn-flat'

- content_for :title, "О нас | HomeMade"

= stylesheet_link_tag 'about.css'
= javascript_include_tag 'about.js'
