@import 'bootstrap_and_overrides';
@import 'landing.less';

#content{
  min-height: 98vh;
}

.header-app{
  @media screen and (min-width: @grid-float-breakpoint){
    .navbar-inverse;
  }

  background: @brand-primary;
  overflow: hidden;
  width: 100%;
  margin: 0;
  top: 0;
  z-index: 100;
  height: @navbar-height;
  box-shadow: 0px 1px 8px black;

  .navbar-brand{
    line-height: @navbar-height;
    padding: 10px;
    img{
      max-height: @navbar-height - 20px;
    }
  }

  .navbar-collapse{
    @media screen and (max-width: @grid-float-breakpoint){
      &.in, &.collapsing{
        .well;
        border-radius: 0;
        width: 100vw;
        position: fixed;
        padding: 0 2em;
        z-index: 99;
      }
    }
    @media screen and (min-width: @grid-float-breakpoint){
      .open .dropdown-menu{
        position: fixed;
        top: @navbar-height;
        width: 10em;
      }
    }
  }
}

.sticky{
  height: 0 !important;
  position: fixed;
  transition: height .3s;
  &.in{
    height: @navbar-height !important;
  }
}

header.header-abs{
  position: absolute;
  background: transparent;
  font-family: Roboto Condensed;
  font-size:  18px;
  color: black;
  padding-top: 4px;
  padding-left: 10%;
}

a.tel{
  font-family: Roboto Condensed;
  font-size: 18px;
}

.card{
  .well;
  border: none;
  padding: 0;
  color: @gray-darker;
  overflow: hidden;
  max-width: 420px;
  height: 480px;
  @media screen and (min-width: @screen-sm) and (max-width: @screen-md){
    height: 580px;
  }

  .card-img-container{
    height: 55%;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }

  .card-heading{
    color: black;
    min-height: 60px;
    h2{
      margin-bottom: 0;
    }
    h3{
      font-family: Roboto Condensed;
      margin-top: 0.1em;
      color: lighten(black, 20%);
      font-size: 18px;
    }
  }

  .card-description{
    text-align: left;
    font-size: 16px;
    
    .icon{
      width: 2em;
    }
  }
}

.img-with-overlay{
  box-shadow: inset 0 -200px 200px rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  img{
    height: 0;
  }
  .img-overlay{
    height: 5em;
    color: white;
    background: transparent;
    margin-top: calc(100% - 50px);
    h1,h2,h3,h4,h5,h6 { font-family: Roboto Light; }
  }
}

.description{
  white-space: pre-line;
  word-wrap: normal;
  background: transparent;
  text-align: left;
}

.no-gutter{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.fade{
  opacity: .5;
}
