#hero{
  @media only screen and (min-width: 0){
    background: image-url('bg-sm.jpg') no-repeat 50% 100%;
    -webkit-background-size: auto 100%;
    -moz-background-size:    auto 100%;
    -o-background-size:      auto 100%;
    background-size:         auto 100%;
    height: 90vh;
  }
  @media only screen and (min-width: @screen-md){
    background: image-url('bg-md.jpg') no-repeat 50% 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size:    100% auto;
    -o-background-size:      100% auto;
    background-size:         100% auto;
    height: 80vh;
  }
  @media only screen and (min-width: @screen-lg){
    background: image-url('bg-lg.jpg') no-repeat 50% 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size:    100% auto;
    -o-background-size:      100% auto;
    background-size:         100% auto;
    height: 80vh;
  }
  @media only screen and (min-width: 1921px){
    background: image-url('bg-xl.jpg') no-repeat 50% 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size:    100% auto;
    -o-background-size:      100% auto;
    background-size:         100% auto;
    height: 80vh;
  }
  margin: 0;
  margin-top: -@navbar-height;

  .hero-logo{
    @media only screen and (min-width: 0) and (orientation: portrait){
      margin-top: 2em;
      width: 43%;
      width: 43vw;
    }
    @media only screen and (min-width: 0) and (orientation: landscape){
      margin-top: 2em;
      width: 33%;
      width: 33vw;
    }
    @media only screen and (min-width: @screen-sm){
      width: 22%;
      width: 22vw;
    }
    @media only screen and (min-width: @screen-md){
      width: 16em;
    }
  }
}

#order{
  .red;
  margin: 0;
}

#menu{
  .white;
  margin: 0;
}

#how{
  .red;
}

#subscribe{
  .white;
}

.red{
  background: @brand-primary;
  .jt{
    color: white;
  }
  .jb{
    &.btn-primary{
      background: white;
      color: @brand-primary;
    }
  }
}

.white{
  background: white;
  .jt{
    color: @brand-primary;
  }
}
