#hero{
  height: 80vh;
  @media only screen and (max-width: @screen-md){
    background: image-url('bg-sm.jpg') no-repeat 70% 30%;;
    -webkit-background-size: auto 100%;
    -moz-background-size:    auto 100%;
    -o-background-size:      auto 100%;
    background-size:         auto 100%;
  }
  @media only screen and (min-width: @screen-md){
    background: image-url('bg-md.jpg') no-repeat 70% 30%;;
    -webkit-background-size: 100% auto;
    -moz-background-size:    100% auto;
    -o-background-size:      100% auto;
    background-size:         100% auto;
  }
  @media only screen and (min-width: @screen-lg){
    background: image-url('bg-lg.jpg') no-repeat 70% 30%;;
    -webkit-background-size: 100% auto;
    -moz-background-size:    100% auto;
    -o-background-size:      100% auto;
    background-size:         100% auto;
  }
  @media only screen and (min-width: 1921px){
    background: image-url('bg-xl.jpg') no-repeat 70% 30%;;
    -webkit-background-size: 100% auto;
    -moz-background-size:    100% auto;
    -o-background-size:      100% auto;
    background-size:         100% auto;
  }
  margin: 0;
}

#order{
  .red;
  margin: 0;
}

#menu{
  .white;
  margin: 0;
}

#how{
  .red;
}

.red{
  background: @brand-primary;
  .jt{
    color: white;
    .material-select>label{
      color: @gray-lighter;
    }
  }
  .jb{
    &.btn-primary{
      background: white;
      color: @brand-primary;
    }
  }
}

.white{
  background: white;
  .jt{
    color: @brand-primary;
  }
}
