#hero{
  height: 80vh;
  background: image-url('bg-lg.jpg') no-repeat 70% 30%;
  -webkit-background-size: 100% auto;
  -moz-background-size:    100% auto;
  -o-background-size:      100% auto;
  background-size:         100% auto;
  margin: 0;
}

#order{
  .red;
  margin: 0;
}

#menu{
  .white;
  height: 50vh;
  margin: 0;
}

.red{
  background: @brand-primary;
  .jt{
    color: white;
  }
}

.white{
  background: white;
  .jt{
    color: @brand-primary;
  }
}
