.keyframes(@name, @arguments){
  @-webkit-keyframes @name { @arguments(); }
  @-moz-keyframes @name { @arguments(); }
  @-o-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}

.animation(@arguments){
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -o-animation: @arguments;
  animation: @arguments;
}

.box-shadow(@arguments){
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

.background-size(@arguments){
  -webkit-background-size: @arguments;
  -moz-background-size:    @arguments;
  -o-background-size:      @arguments;
     background-size:      @arguments;
}

.transform(@arguments){
  -webkit-transform: @arguments;
     -moz-transform: @arguments;
       -o-transform: @arguments;
          transform: @arguments;
}

.transform-origin(@arguments){
  -webkit-transform-origin: @arguments;
     -moz-transform-origin: @arguments;
       -o-transform-origin: @arguments;
          transform-origin: @arguments;
}
