.row
  .col-xs-12.text-center
    %h1 Отзывы о сервисе и обзоры

.row
  .col-xs-12.text-center
    %h2 Отзывы ВКонтакте
    .col-xs-12.col-sm-8.col-sm-offset-1.col-md-6.col-md-offset-3#reviews
      - @vk_board.comments.each do |comment|
        .media
          .pull-left
            %br/
            %img.avatar.media-object{src: comment.user.photo_50 }
          .media-body.text-left
            %p.media-heading
              %h4 #{comment.user.first_name} #{comment.user.last_name}
            %p
              :plain
                #{comment.text}
      %br/
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          %a.btn.btn-primary.pull-right(href='https://vk.com/topic-118150374_33518459' itemprop='sameAs' itemtype='http://schema.org/URL' target='_blank' rel='noopener')
            %i.fa.fa-lg.fa-fw.fa-vk
            перейти к обсуждению
%br/
%br/
.row
  .col-xs-12.text-center
    %h2 Видеообзор набора на канале «Покашеварим»
    .col-xs-12.col-sm-8.col-sm-offset-1.col-md-6.col-md-offset-3
      .embed-responsive.embed-responsive-16by9
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OXrU_Y41SUU" frameborder="0" allowfullscreen></iframe>

= stylesheet_link_tag 'reviews'
